body  {
  background: #F1F1F1;
}


.contact {
  margin-bottom:  60px;
}

.contact img {
  height: 150px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  display: flex;
  margin-top: 12px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;


}

.contact h2 {
  text-align: center;
  padding-top: 10px;
  color : #45A3A8;
}

.contact p,
.contact h3 {
  text-align: center;
  padding-top: 10px;
}

.coordonnees {
  font-size: 16px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0,0,0,0.8);
}

.coordonnees a {
  text-decoration: none;
  padding-left: 20px;
}

.coordonnees a:hover {
  color : #45A3A8;
}

/* image cliquable dans une popup */
#cache {
    position:absolute;
    background:rgba(0,0,0,0);
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -1;
    transition:background .5s
}
#cache:target {
    background:rgba(0,0,0,.5);
    z-index: 1;
}
.popup {
    position:absolute;
    z-index: 1000;
    display:none;
    top:30px;
    left:auto;
}
.popup a {
    position:absolute;
    background: #333;
    color:#fff;
    border-radius: 50%;
    width:20px;
    line-height: 20px;
    text-align: center;
    font-family:arial;
    right:0;
    text-decoration: none;
}

#cache:target ~ .popup {
    display:block;
}

.popup img {
  width: 100%;
  height: auto
}

@media only screen and (min-width: 375px) {
  .contact img {
    height: 200px;
    margin-top: 20px;
  }
  .contact h2 {
  padding-top: 16px;
  }
  .coordonnees {
  padding: 12px;
  }
  .popup img {
  width: 90%;
  height: auto
  }
}

@media only screen and (min-width: 410px) {
  .contact img {
    height: 250px;
    margin-top: 30px;
  }
  .contact h2 {
  padding-top: 20px;
  }
  .coordonnees {
  padding: 16px;
  }
  .popup img {
  width: 80%;
  height: auto
  }
}

@media only screen and (min-width: 740px) {
  .contact img {
    width: 45vw;
    height: auto;
  }
  .contact {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .coordonnees {
    font-size: 20px;
  }
  .popup img {
  width: 80%;
  height: auto
  }
}
