body  {
  background: #F1F1F1;
}

.container-services {
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 80px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.container-services img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.presentation {
  padding-top: 20px;
}

.presentation img {
  width: 300px;
  text-align: center;
  margin: auto;
  display: flex;
}

.presentation p {
  text-align: center;
}

.card_services {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card_services h2 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0,0,0,0.9);
}

.presentation h1,
.card_services h1 {
  text-align: center;
  font-weight: 300;
  color : #45A3A8;
}

@media only screen and (min-width: 740px) {
  p, ul {
    font-size: 16px;
  }

  h2 {
    font-size: 20px;
  }

  h1 {
    font-size: 24px;
  }

  .presentation {
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .card_services h1 {
  text-align: left;
  }

  .card_services h2 {
    text-align: left;
    padding-left: 50px;
  }

  .card_services ul {
    padding-left: 80px;
  }

  .presentation p,
  .presentation h1,
  .card_services p {
    text-align: left;
    padding-left: 50px;
  }
}
